.navbar {
  background-color: #1f2937 !important;
  padding: 15px 20px;
  transition: box-shadow 0.3s;
}

.navbar-brand {
  font-weight: bold;
  font-size: 1.3rem;
  color: #ffffff !important;
}
.navbar.scrolled {
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.nav-link {
  color: #d1d5db !important;
  margin-right: 15px;
  transition: color 0.3s, text-decoration 0.3s;
}

.nav-link:hover {
  color: #3b82f6 !important;
  color: #2563eb;
  text-decoration: underline;
}
.navbar-brand img {
  width: 50px; /* adjust size */
  height: auto;
  margin-right: 10px;
}
